// Variables

/* ==========================================================================
   FONT SETTINGS
   ========================================================================== */
$font: 'Helvetica Neue', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$fa-font-path: "../webfonts";


/* ==========================================================================
   COLORS SETTINGS
   ========================================================================== */
$black: #000000;
$white: #ffffff;
$blue: #3056f5;
$green: #29bf12;
$drak-green: #2A9134;
$gray-100: #F9FAFC;
$gray-200: #E9EBEF;
$gray-300: #D8D8D8;
$gray-400: #b9babd;
$gray-500: #9999A1;
$gray-600: #979797;
$gray-700: #333131;
$gray-800: #28272E;
$gray-900: #2B2C28;