// General Style
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    padding-bottom: 70px;
}

.container-fluid {
    padding: rem-calc(0 60);
}

.list-style-none {
    list-style: none;
}

.d-flex {
    display: flex;
}