.sidebar {
    background: linear-gradient(135deg, #385DF5 0%, #8259F7 100%);
    width: 200px;
    min-height: 100vh;
    transition: 0.4s all ease-in-out;
    .close-btn {
        display: none;
    }
    &.active {
        margin-left: -200px;
    }
    @include breakpoint(xl){
        width: 240px;
        &.active {
            margin-left: -240px;
        }
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    &__header {
        padding: 15px 20px;
        .navbar-brand {
            display: block;
        }
        @include breakpoint(xl){
            padding: 20px 30px;
        }
    }
    &__menu {
        li {
            a {
                display: block;
                color: #fefefe;
                padding: 15px 20px;
                @include breakpoint(xl){
                    padding: 20px 30px;
                    i {
                        margin-right: 15px;
                    }
                }
                i {
                    margin-right: 10px;
                }
                &:hover {
                    background: $white;
                    text-decoration: none;
                    color: $blue;
                }
            }
        }
    }
    @include breakpointMax(lg){
        position: fixed;
        top: 0;
        left: -240px;
        height: 100%;
        z-index: 99999;
        &.show {
            left: 0;
            margin-left: 0;
        }
        .close-btn {
            position: absolute !important;
            top: 0;
            right: -39px;
            font-size: 25px;
            padding: 5px 10px;
            border: 1px solid $blue;
            display: block;
        }
    }
}