.navbar {
    background: none;
    padding: 0;
    .navbar-toggler {
        padding: 0;
        line-height: 0;
        width: 40px;
        position: relative;
        z-index: 2;
        &[aria-expanded="true"] {
            .navbar-toggler-icon:nth-child(1){
                transform: rotate(45deg);
                position: relative;
                top: 6px;
            }
            .navbar-toggler-icon:nth-child(2) {
                display: none;
            }
            .navbar-toggler-icon:nth-child(3) {
                transform: rotate(-45deg);
                position: relative;
                top: -6px;
            }
        }
        &:focus {
            outline: none;
        }
        .navbar-toggler-icon {
            background: $white;
            display: block;
            width: 100%;
            height: 2px;
            margin: 10px 0;
            transition: 0.4s all ease-in-out;
        }
    }
    .navbar-brand {
        margin: 0;
        padding: 30px 0;
        line-height: 0;
    }
    .navbar-nav {
        align-items: center;
        .nav-item {
            .nav-link {
                color: $white;
                padding: 0;
                margin-right: 30px;
                padding-bottom: rem-calc(5);
                position: relative;
                &:after {
                    content: '';
                    background: $blue;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    transition: 0.4s all ease-in-out;
                }
                i {
                    margin-right: 10px;
                }
            }
            &.active,
            &:hover {
                .nav-link {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
        @include breakpointMax(lg){
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .nav-item {
                .nav-link {
                    font-size: 25px;
                    line-height: 35px;
                    margin: 15px 0;
                }
                .btn {
                    font-size: 20px;
                    padding: 25px 50px;
                    margin-top: 10px;
                }
            }
        }
    }
    .navbar-collapse {
        @include breakpointMax(lg){
            display: block;
            position: fixed;
            top: -100%;
            width: 100%;
            background: $gray-900;
            left: 0;
            z-index: 1;
            height: 100%;
            transition: 0.3s all ease-in-out;
            &.show {
                top: 0;
            }
        }
    }
}