.text-center-block {
    .tick {
        @include border-radius(50%);
        background: $green;
        color: $white;
        height: 103px;
        width: 103px;
        display: inline-block;
        font-size: 38px;
        line-height: 110px;
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 20px;
    }
    .text {
        margin-bottom: 40px;
        @include breakpoint(md){
            margin-bottom: 60px;
        }
        @include breakpoint(lg){
            margin-bottom: 100px;
        }
    }
    .text-gray {
        span {
            @include breakpointMax(sm){
                display: block;
            }
        }
    }
}