.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    padding: 13px 30px;
    position: relative;
    overflow-x: hidden;
    border: none;
    min-width: 190px;
    &:hover {
        color: $white;
        box-shadow: 0 2px 8px 0 rgba($white, 0.3);
        span {
            color: $white;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: -100%;
        top: 0;
        width: 0;
        height: 100%;
        transition: 0.3s all ease-in-out;
    }
    span {
        position: relative;
        z-index: 2;
    }
    &--rounded {
        @include border-radius(23px);
    }
    &--primary {
        background: $blue;
        &:hover {
            &:before {
                background: $gray-900;
                left: 0;
                width: 100%;
                color: $white;
                transition: 0.3s all ease-in-out;
            }
        }
    }
    &--lg {
        min-width: 230px;
    }
    &--sm {
        min-width: 116px;
    }
}