.password-strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__bar {
        @include border-radius(3px);
        background: $gray-200;
        height: 6px;
        width: 19%;
        &--1 {
            &.active {
                background: $gray;
            }
        }
        &--2 {
            &.active {
                background: $red;
            }
        }
        &--3 {
            &.active {
                background: $warning;
            }
        }
        &--4 {
            &.active {
                background: $primary;
            }
        }
        &--5 {
            &.active {
                background: $green;
            }
        }
    }
}