.table {
    tr {
        &:first-child {
            td {
                border-top: none;
            }
        }
    }
    td {
        border-top: 1px solid $gray-200;
        vertical-align: middle;
        padding: 25px 0 25px 20px;
    }
}
